.title {
  color: #c1c4c2;
  text-align: center;
  font-size: xx-large;
  font-weight: 500;
  padding-top: 1em;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .title {
    font-size: x-large;
  }
}
.contact {
  background-color: #2b313c;
  padding-bottom: 1em;
}
