/**laptop**/
@media (min-device-width: 901px) {
  .formulaire {
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .form-list {
    display: flex;
    flex-direction: column;
    margin-left: 20rem;
    margin-right: 20rem;
  }
}

/**tablette**/
@media (min-width: 601px) and (max-width: 900px) {
  .form-list {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

/**phone**/
@media (max-device-width: 600px) {
  .form-list {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

.form-item {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.label {
  color: #2d93de;
  font-size: large;
  font-weight: 800;
}

/**tablette**/
@media (min-width: 601px) and (max-width: 900px) {
  .label {
    font-size: medium;
  }
}

/**phone**/
@media (max-device-width: 600px) {
  .label {
    font-size: small;
  }
}

.input {
  height: 2rem;
}

.message {
  height: 5em;
  margin-bottom: 1em;
}

.send-button {
  background-color: #2d93de;
  color: #c1c4c2;
  font-size: medium;
  font-weight: 700;
  width: 10em;
  height: 2em;
  border-radius: 6px;
  transition-duration: 0.5s;
  border: none;
  margin-left: 20rem;
}

/**tablette**/
@media (min-width: 601px) and (max-width: 900px) {
  .send-button {
    margin-left: 3rem;
    font-size: medium;
    width: 12em;
    height: 2em;
  }
}

/**phone**/
@media (max-device-width: 600px) {
  .send-button {
    margin-left: 3rem;
    font-size: small;
    width: 9em;
    height: 1.5em;
  }
}

.send-button:hover {
  background-color: #316a93;
}

.send-button:active {
  background-color: #6eb6e9;
}

.text-danger {
  color: red;
}
