/**laptop**/
@media (min-device-width: 901px) {
  .services-content {
    margin-top: -20em;
  }
}

/**tablette**/
@media (min-width: 601px) and (max-width: 900px) {
  .services-content {
    margin-top: -20em;
  }
}

/**phone**/
@media (max-device-width: 475px) {
  .services-content {
    margin-top: -17em;
  }
}

@media (max-device-width: 320px) {
  .services-content {
    margin-top: -14em;
  }
}

.title {
  color: #c1c4c2;
  text-align: center;
  font-size: xx-large;
  font-weight: 500;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .title {
    font-size: x-large;
  }
}
